/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


.btn {
    background-color: #27ae60;
    width: 100%;
    border-radius: 4px;
    color: white;
    padding: 10px;
}